.addTodo {
    display: flex;
    margin-bottom: 10px;
}

.input {
    margin-top: 5px;
    padding: 5px;
    font-size: 16px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #dcdcdc;
}

.btn {
    margin-left: 12px;
    margin-top: 5px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid #dcdcdc;
}